<!-- <app-login></app-login> -->
<!-- <app-sign-up></app-sign-up> -->
 <!-- <app-reset-password></app-reset-password> -->
 <!-- <app-passwornd-authentication></app-passwornd-authentication> -->
<!-- <app-new-password></app-new-password> -->
<app-header></app-header>


<router-outlet></router-outlet>

<!-- <app-home-page></app-home-page> -->
<!-- <app-about-us></app-about-us> -->
 <!-- <app-product-list></app-product-list> -->
 <!-- <app-product-detail></app-product-detail> -->
 <!-- <app-shopping-cart></app-shopping-cart> -->
<!-- <app-requested-product></app-requested-product> -->
<!-- <app-profile></app-profile -->
<!-- <app-address></app-address> -->
<!-- <app-voucher></app-voucher> -->
<!-- <app-order-management></app-order-management> -->
<!-- <app-product-review></app-product-review> -->
<!-- <app-blog></app-blog> -->
<!-- <app-blog-detail></app-blog-detail> -->
 <!-- <app-product-cart></app-product-cart> -->
<!-- <app-faq></app-faq> -->
<!-- <app-policy></app-policy> -->

<div class="messenger-icon">
  <a href="https://m.me/61568944685440" target="_blank">
      <img src="../assets/Images/logo/messenger.png" alt="Messenger Icon">
  </a>
</div>

<app-footer></app-footer>
