<!--
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>GreenFurni</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap"
      rel="stylesheet"
    />

    <script>
      function hienThiNgay() {
        const today = new Date();
        const day = String(today.getDate()).padStart(2, "0");
        const month = String(today.getMonth() + 1).padStart(2, "0"); // Tháng bắt đầu từ 0
        const year = today.getFullYear();

        const currentDate = day + "/" + month + "/" + year;
        document.getElementById("ngayHienTai").innerText = currentDate;
      }

      window.onload = hienThiNgay; // Gọi hàm khi trang được tải
    </script>
  </head> -->
  <body>
    <img loading="lazy" src="../../assets/Images/blog/Banner.jpg" alt="GreenFurni banner" class="banner-image"/>
    <div class="contentMain">
      <h2 class=" titleMain"  >TẤT CẢ BÀI VIẾT</h2>


        <div *ngFor="let blogData of blogs" class="article">
          <!-- Ảnh -->
          <img
            alt="Recycled plastic crafts"
            [src]="blogData.thumbnail[0]"
            class="img"
          />

          <!-- Nội dung bài viết -->
          <div class="content1">
            <h3 class="title">{{ blogData.title }}</h3>
            <p class="contentmain">{{ blogData.subcontent }}</p>
            <p class="author">
              Bởi: {{ blogData.author }}
              <br />
              Ngày: {{ currentDate }}
            </p>
          </div>
        </div>






    </div>
  </body>
