<main class="main-content">
  <h1 class="blog-title">{{ blogData?.title }}</h1>
  <p class="contentmain">{{ blogData?.subcontent }}</p>
  <p class="author">
    Bởi: {{ blogData?.author }}
    <br />

  </p>
  <div class="content-wrapper">
    <section class="article-content">
      <img
      *ngIf="blogData?.thumbnail && blogData?.thumbnail[0]"
      [src]="blogData.thumbnail[0]"
      alt="Blog thumbnail"
      class="article-image"
    />

    <p class="article-text">
      {{ blogData?.content }}
    </p>
    </section>

    <aside class="sidebar">
      <h2 class="sidebar-title">BÀI VIẾT MỚI NHẤT</h2>
      <div
        class="recent-post"
        *ngFor="let blog of relatedBlogs"
        [routerLink]="['/blog', blog._id]"
      >
        <img
          [src]="blog.thumbnail[0]"
          alt="Recent post thumbnail"
          class="post-thumbnail"
        />
        <h3 class="post-title">{{ blog.title }}</h3>
      </div>
    </aside>


  </div>

</main>
