<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FAQs - CÂU HỎI THƯỜNG GẶP</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <style>

    </style>
  </head>
  <body>
    <div class="heading">
      <h1>FAQs</h1>
      <h2>CÂU HỎI THƯỜNG GẶP</h2>
    </div>
    <div class="container">
      <div class="sidebar">
        <h2>DANH MỤC CÂU HỎI</h2>
        <hr style="border: 1.5px solid #4caf50; width: 100%" />
        <ul>
          <li [ngClass]="{ 'selected': selectedCategory === 'baoHanh' }" (click)="setCategory('baoHanh')">BẢO HÀNH</li>
          <li [ngClass]="{ 'selected': selectedCategory === 'datHang' }" (click)="setCategory('datHang')">ĐẶT HÀNG & THANH TOÁN</li>
          <li [ngClass]="{ 'selected': selectedCategory === 'giaoHang' }" (click)="setCategory('giaoHang')">GIAO HÀNG</li>
          <li [ngClass]="{ 'selected': selectedCategory === 'sanPham' }" (click)="setCategory('sanPham')">SẢN PHẨM</li>

        </ul>
      </div>
      <div class="content">
        <div class="faq-item" *ngFor="let item of faqItems[selectedCategory]">
          <h3 (click)="toggleContent(item)">
            {{ item.question }}
            <!-- <span>
              <i
                [ngClass]="{
                  'fas fa-chevron-down': !item.active,
                  'fas fa-chevron-up': item.active
                }"
              ></i>
            </span> -->
            <span  (click)="toggleContent(item)"  class="icon" (click)="item.active = !item.active">
              <img
                src="../../assets/Images/logo/chevron.right.jpg"

                [ngStyle]="{ transform: item.active ? 'rotate(180deg)' : 'rotate(0deg)' }"
              />
            </span>

          </h3>
          <p *ngIf="item.active">{{ item.answer }}</p>
          <ul *ngIf="item.active">
            <li *ngFor="let detail of item.details">{{ detail }}</li>
          </ul>

          <hr class="divider"
          />
        </div>
      </div>
    </div>
  </body>
</html>
