.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d6f8e2;
}
h2 {
  color: #4CB04F;
  margin-bottom: 40px;
  font-size: 28px;
  text-align: left;
}

.login-box {
  background-color: white;
  padding: 20pt 60pt;
  max-width: 741px;
  height: 344px;
  flex-shrink: 0;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.form-group {
  margin-bottom: 15px;
}

.form-group input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
}

.continue-button  {
  display: flex;
  width: 100%;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #4cb04f;
}
.continue-text {
  margin-top: 20px;
  font-size: 16px;
  color: #808080;
}
.continue-link {
  color: #4CB04F;
  text-decoration: none;
}

.continue-link:hover {
  text-decoration: underline;
}

.continue-button a{
  color: white;
  text-decoration: none;
  display: block;
  font-weight: bold;
}
.continue-button:hover {
  background-color: #4cb04f;
}


.header {
  background-color: #fff;
  display: flex;
  gap: 25px;
  color: #4cb04f;
  flex-wrap: wrap;
  padding: 0 75px 8px;
  font: 600 24px Inter, sans-serif;
  align-items: center;
justify-items: center;

}
.logo{
  width: 130px;
height: 80.585px;
flex-shrink: 0;
}
.company-name{
  color: #4CB04F;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;

}
.register-button a {
  color: white;
  text-decoration: none;
  display: block;
  font-weight: bold;
}

.register-button:hover {
  background-color: #4cb04f;
}


@media (max-width: 700px) {
  .login-container{

    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    height: auto;
    margin-top: 10px;
  }
  h1{
    display:none
  }
  .header {
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: center; /* Căn giữa theo chiều ngang */
    gap: 10px; /* Khoảng cách giữa logo và tiêu đề */
    padding: 20px;
  }

  .logo {
    height: 80px; /* Đặt chiều cao logo theo ý muốn */
    width: auto; /* Tự động điều chỉnh chiều rộng */
  }

  .company-name {
    font-size: 24px; /* Đặt kích thước font cho tiêu đề */
    color: #333; /* Màu sắc của tiêu đề */
  }
}
