<body>
    <header class="header">
        <img routerLink="/login" src="https://cdn.builder.io/api/v1/image/assets/9a41a64b9b654c8b8e55e1e605f3b81b/05a2c15420f0ee6c3e764413d153c8b69b3c1ef27b88001c0d51476afe297a0b?apiKey=9a41a64b9b654c8b8e55e1e605f3b81b&" alt="GreenFurni Logo" class="logo" routerLink="/home-page">
        <h1 class="company-name">Đặt lại mật khẩu</h1>
    </header>
    <div class="login-container">
        <div class="login-box">
            <h2>Đặt lại mật khẩu</h2>
            <br />
            <form action="app-login" method="get">
                <div class="form-group">
                    <input required type="text" [(ngModel)]="Mail" name="Mail" (blur)="checkMail()" placeholder="Email" required>
                </div>
                <div *ngIf="!isMailValid" class="error-message">Mail không hợp lệ!</div>
                <br />
                <button class="continue-button" id="otp-send" (click)="sendCode()">Tiếp Theo</button>
            </form>
        </div>
    </div>
</body>