.container {
    display: flex;
}

.input {
    display: flex;
    /* Kích hoạt Flexbox */
    justify-content: center;
    /* Căn giữa theo chiều ngang */
    align-items: center;
}

.input1 {
    width: 500px;
    height: 3rem;
    border-radius: 10px;
    border: 2px solid#4CAF50;
}

.company-logo {
    width: 150px;
    height: auto;
    cursor: pointer;
    border: none;
    position: static;
    margin: 30px 30px 0px 30px;
}

.main {
    width: 80vw;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 30px;
    display: flex;
    /* Sử dụng Flexbox để bố trí */
    flex-wrap: wrap;
    /* Cho phép các item quấn lại khi không đủ chỗ */
    justify-content: space-between;
    /* Tạo khoảng cách giữa các item */
}

.rightcolumn {
    padding: 0 10px;
    flex: 3;
    flex: 1;
}

.product-show {
    border: 1px solid #4CAF50;
    background-color: #EDF8EB;
    border-radius: 10px;
    width: 28%;
    display: inline-block;
    margin: 10px;
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-show:hover {
    transform: translateY(-5px);
}

.product-show>p {
    width: 100%;
    margin: 10px 0;
}

.product-show>.name {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #4C704D;
    margin-bottom: 0;
    white-space: nowrap;
    /* Giữ văn bản trên một dòng */
    overflow: hidden;
    /* Ẩn phần vượt ra khỏi chiều rộng */
    text-overflow: ellipsis;
    /* Thêm dấu ba chấm (...) */
}

.product-show>.pricecontainer>.price {
    display: inline-block;
    width: 50%;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.product-show>.pricecontainer>.oldprice {
    display: inline-block;
    width: 50%;
}

img {
    width: 100%;
    height: 250px;
    border: 2px solid #4C704D;
    border-radius: 10px;
}

.pricecontainer {
    padding: 0 20px;
}

.oldprice {
    color: gray;
    font-size: 13px;
    text-decoration: line-through;
    display: inline;
    font-style: italic;
    text-align: right;
}