<aside class="sidebar mt-5 mb-5">
  <div class="user-info">
    <img src="../../assets/Images/logo/avatar.jpg" alt="User profile picture" class="profile-picture" />
    <h2 class="user-name"> [User_Name]</h2>
  </div>
  <nav class="profile-nav">
    <h3 class="nav-title"  (click)="toggleAccountInfo()">Thông tin tài khoản</h3>
    <ul class="nav-list"  [class.hidden]="!isAccountInfoVisible">
      <li><a routerLink="/profile"  routerLinkActive="active"  class="nav-link">Hồ sơ</a></li>
      <li><a routerLink="/address"  routerLinkActive="active"  class="nav-link">Địa chỉ</a></li>
      <li><a routerLink="/voucher" routerLinkActive="active"   class="nav-link">Kho Voucher</a></li>
    </ul>
    <a routerLink="/management" routerLinkActive="active"  class="nav-link manage">Quản lý đơn hàng</a>
    <a routerLink="/login" routerLinkActive="active" class="nav-link logout">Đăng xuất</a>
  </nav>
</aside>
