
<main class="product-review-page">
  <section class="product-info">
      <div >
        <div class="product-details">
          <h1 class="review-title">ĐÁNH GIÁ ĐƠN HÀNG</h1>
          <img loading="lazy" src="../../assets/Images/products/set/Set1.png" alt="Product image" class="product-image" />
        </div>
        <div class="product-description">
          <h2 class="product-name">Bộ bàn ghế</h2>
          <h2 class="product-name">Giá 1.500.000d</h2>
      </div>
      </div>

  </section>



  <form class="review-form">
    <h2 class="review-heading">Chi tiết đánh giá</h2>
      <label for="reviewText" class="visually-hidden">Hãy chia sẻ những điều bạn thích về sản phẩm này</label>
      <textarea id="reviewText" class="review-input" placeholder="Hãy chia sẻ những điều bạn thích về sản phẩm này với những người mua khác nhé..."></textarea>

      <div class="form-actions">
          <button type="button" class="btn btn-cancel">Hủy</button>
          <button type="submit" class="btn btn-submit">Gửi</button>
      </div>
  </form>
</main>
