<body>
  <figure class="image-container">
    <img
      loading="lazy"
      src="../../assets/Images/homepage/Banner1.png"
      alt=""
      class="responsive-image"
    />
  </figure>

  <div class="container">
    <main class="main-content">
      <h1 class="welcome-title">Chào mừng đến với GreenFurni</h1>
      <p class="welcome-description">
        GreenFurni là một công ty chuyên kinh doanh nội thất tái chế, với mục
        tiêu góp phần bảo vệ môi trường. Được thiết kế và sản xuất thủ công tại
        xưởng ở Thành phố Hồ Chí Minh, GreenFurni không chỉ mang đến những sản
        phẩm bền đẹp mà còn truyền tải thông điệp về sự bền vững và ý thức bảo
        vệ môi trường trong từng sản phẩm.
      </p>

      <h2 class="featured-products-title">SẢN PHẨM NỔI BẬT</h2>

      <div class="scrollable">
        <div class="product-grid">
        <div class="product-row">
              <div class="product-column"  *ngFor="let product of products" >
                <div class="product-card">
                <img   [src]="'assets/' + product.img[0].img1" alt="{{ product.name }}" class="product-image" />
                <h6 class="product-title">{{ product.name }}</h6>
                <p class="product-price">{{ product.price }}.000 đ</p>
                </div>
              </div>
          </div>
        </div>
      </div>

      <h2 class="brand-story-title">CÂU CHUYỆN THƯƠNG HIỆU</h2>
      <div class="brand-story-content">
        <div class="brand-story-row">
          <div class="brand-story-image-column">
                <img loading="lazy" src="../../assets/Images/homepage/brandstory.png" class="brand-story-image" alt="GreenFurni brand story" />
              </div>
          <div class="brand-story-text-column">
            <p class="brand-story-text">
              GreenFurni là một công ty chuyên kinh doanh nội thất tái chế, với
              mục tiêu góp phần bảo vệ môi trường. Được thiết kế và sản xuất thủ
              công tại xưởng ở Thành phố Hồ Chí Minh, GreenFurni không chỉ mang
              đến những sản phẩm bền đẹp mà còn truyền tải thông điệp về sự bền
              vững và ý thức bảo vệ môi trường trong từng sản phẩm.
            </p>
          </div>
        </div>
      </div>

      <h2 class="latest-news-title">TIN TỨC MỚI NHẤT</h2>

        <div class="news-grid">
          <div class="news-row">
            <div class="news-column">
              <article class="news-card">
                <img
                  loading="lazy"
                  src="../../assets/Images/homepage/recycleplastic.jpg"
                  class="news-image"
                  alt="News article"
                />
                <div class="news-divider"></div>
                <h3 class="news-title">
                  Tất tần tật thứ <br />từ nhựa tái chế
                </h3>
              </article>
            </div>
            <div class="news-column">
              <article class="news-card">
                <img
                  loading="lazy"
                  src="../../assets/Images/homepage/protect.jpg"
                  class="news-image"
                />
                <div class="news-divider"></div>
                <h3 class="news-title">
                  Tái chế rác thải nhựa, <br />bảo vệ môi trường, <br />tại sao
                  không?
                </h3>
              </article>
            </div>
            <div class="news-column">
              <article class="news-card">
                <img
                  loading="lazy"
                  src="../../assets/Images/homepage/process.jpg"
                  class="news-image"
                />
                <div class="news-divider"></div>
                <h3 class="news-title">
                  Khám phá quy trình <br />sản xuất phụ kiện <br />từ nhựa
                </h3>
              </article>
            </div>
          </div>
        </div>


      <h2 class="process-title">QUY TRÌNH TÁI CHẾ</h2>

      <section class="recycling-process">
        <div class="process-column">
          <div class="process-step">
            <img
              src="../../assets/Images/homepage/Rectangle 96.png"
              class="process-image"
            />
            <p class="process-description">
              Thu gom rác thải nhựa
              <br />
              và phân loại phù hợp
            </p>
          </div>
        </div>

        <div class="process-column">
          <div class="process-step">
            <img src="../../assets/Images/homepage/Rectangle 97.png"   class="process-image"/>
            <p class="process-description">
              Làm sạch bằng các chất không hại <br />
              môi trường hay sức khoẻ
            </p>
          </div>
        </div>

        <div class="process-column">
          <div class="process-step">
            <img src="../../assets/Images/homepage/Rectangle 98.png"   class="process-image" />
            <p class="process-description">
              Xử lý nhựa thô thành hạt nhựa <br />
              để tiến hành sản xuất sản phẩm
            </p>
          </div>
        </div>
      </section>

      <section class="faq-section">
        <h2 class="faq-title">CÂU HỎI THƯỜNG GẶP</h2>
        <div class="faq-divider"></div>

        <div
          class="faq-item"
          *ngFor="let question of faqQuestions; let i = index"
        >
          <h3 class="faq-question" (click)="toggleAnswer(i)">
            {{ question.question }}
            <span>
              <img
              src="../../assets/Images/homepage/chevron.right.png"
              class="faq-icon"
              [class.active]="selectedQuestion === i"
            />
            </span>

          </h3>

          <!-- Phần câu trả lời sẽ hiển thị hoặc ẩn khi nhấp vào câu hỏi -->
          <div class="faq-answer" *ngIf="selectedQuestion == i">
            <p>{{ question.answer }}</p>
          </div>

          <div class="faq-divider"></div>
        </div>
      </section>
    </main>
  </div>
</body>



